workflows/college-partnership.json
{
  "name": "College Partnership Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "college-partnership-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-college-1",
      "name": "Webhook - New College Partnership",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_PARTNERSHIPS_SHEET_ID",
        "range": "Partnerships!A:L",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "save-partnership-1",
      "name": "Save Partnership to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [450, 250],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "partnerships@zehratech.in",
        "toEmail": "={{ $json.tpoEmail }}",
        "subject": "Welcome to ZehraTech Partnership Program! 🎓",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 700px; margin: 0 auto; background: white; }\n    .header { background: linear-gradient(135deg, #0EA5E9 0%, #06B6D4 100%); color: white; padding: 40px 30px; text-align: center; }\n    .logo { font-size: 36px; font-weight: bold; margin-bottom: 10px; }\n    .content { padding: 40px 30px; }\n    .partnership-badge { background: #10B981; color: white; padding: 15px 25px; border-radius: 30px; display: inline-block; margin: 20px 0; font-size: 18px; font-weight: bold; }\n    .benefits { background: #f0f9ff; border-left: 4px solid #0EA5E9; padding: 25px; margin: 25px 0; border-radius: 6px; }\n    .benefit-item { margin: 15px 0; padding-left: 25px; position: relative; }\n    .benefit-item:before { content: '✓'; position: absolute; left: 0; color: #0EA5E9; font-weight: bold; font-size: 20px; }\n    .cta-button { display: inline-block; background: #0EA5E9; color: white; padding: 15px 40px; text-decoration: none; border-radius: 8px; margin: 20px 0; font-weight: bold; font-size: 16px; }\n    .footer { background: #1f2937; color: white; padding: 30px; text-align: center; }\n    .stats { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 30px 0; }\n    .stat-card { background: #fef3c7; padding: 20px; border-radius: 8px; text-align: center; }\n    .stat-number { font-size: 32px; font-weight: bold; color: #f59e0b; }\n    .stat-label { font-size: 14px; color: #666; margin-top: 5px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo\">⚡ ZehraTech</div>\n      <h1>Partnership Program</h1>\n      <p>Empowering Students Together</p>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"partnership-badge\">🤝 Partnership Activated!</div>\n      \n      <h2>Dear {{ $json.tpoName }},</h2>\n      \n      <p>We are thrilled to welcome <strong>{{ $json.collegeName }}</strong> to the ZehraTech Partnership Program!</p>\n      \n      <p>This partnership marks the beginning of an exciting journey where we'll work together to provide cutting-edge technical training and placement opportunities for your students.</p>\n      \n      <div class=\"stats\">\n        <div class=\"stat-card\">\n          <div class=\"stat-number\">500+</div>\n          <div class=\"stat-label\">Students Trained</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-number\">50+</div>\n          <div class=\"stat-label\">Partner Colleges</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-number\">85%</div>\n          <div class=\"stat-label\">Placement Rate</div>\n        </div>\n      </div>\n      \n      <div class=\"benefits\">\n        <h3 style=\"margin-top: 0; color: #0EA5E9;\">🎁 Partnership Benefits</h3>\n        \n        <div class=\"benefit-item\">\n          <strong>Exclusive Workshop Access:</strong> Free technical workshops for your students on AI, Web Development, Cybersecurity, and more\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>Placement Assistance:</strong> Dedicated placement support with our industry partners\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>Internship Programs:</strong> Real-world project experience for students\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>Faculty Training:</strong> Complimentary training sessions for faculty members\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>Certification Programs:</strong> Industry-recognized certificates for students\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>Campus Drives:</strong> Exclusive hiring opportunities with partner companies\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>Custom Curriculum:</strong> Tailored training programs based on your requirements\n        </div>\n        \n        <div class=\"benefit-item\">\n          <strong>24/7 Support:</strong> Dedicated relationship manager for your college\n        </div>\n      </div>\n      \n      <h3>📋 Next Steps:</h3>\n      <ol style=\"line-height: 2;\">\n        <li>Schedule a kickoff meeting with our team</li>\n        <li>Share your student database for workshop enrollment</li>\n        <li>Plan upcoming training sessions and campus events</li>\n        <li>Set up placement drive schedule</li>\n        <li>Access our partnership portal for resources</li>\n      </ol>\n      \n      <div style=\"text-align: center; margin: 30px 0;\">\n        <a href=\"https://zehratech.in/partnership-portal\" class=\"cta-button\">Access Partnership Portal</a>\n      </div>\n      \n      <div style=\"background: #fef3c7; border-left: 4px solid #f59e0b; padding: 20px; margin: 25px 0; border-radius: 6px;\">\n        <h3 style=\"margin-top: 0; color: #f59e0b;\">📞 Your Dedicated Partnership Manager</h3>\n        <p style=\"margin: 10px 0;\"><strong>Name:</strong> Partnership Team</p>\n        <p style=\"margin: 10px 0;\"><strong>Email:</strong> partnerships@zehratech.in</p>\n        <p style=\"margin: 10px 0;\"><strong>Phone:</strong> +91 8960457971</p>\n        <p style=\"margin: 10px 0;\"><strong>WhatsApp:</strong> <a href=\"https://wa.me/918960457971\">Chat Now</a></p>\n      </div>\n      \n      <h3>📅 Upcoming Opportunities:</h3>\n      <ul style=\"line-height: 2;\">\n        <li>Monthly technical workshops (Online & Offline)</li>\n        <li>Quarterly placement drives</li>\n        <li>Annual tech fest collaboration</li>\n        <li>Hackathon participation opportunities</li>\n        <li>Guest lectures from industry experts</li>\n      </ul>\n      \n      <p style=\"margin-top: 40px;\">We look forward to a successful partnership and empowering your students with industry-relevant skills!</p>\n      \n      <p>Best regards,<br>\n      <strong>Team ZehraTech</strong><br>\n      Building Tomorrow's Technology Today</p>\n    </div>\n    \n    <div class=\"footer\">\n      <h3>⚡ ZehraTech</h3>\n      <p>AI Automation | Web Development | Custom Software | Cybersecurity</p>\n      <p style=\"margin-top: 20px;\">\n        <a href=\"https://zehratech.in\" style=\"color: #06B6D4; margin: 0 10px;\">Website</a> |\n        <a href=\"tel:+918960457971\" style=\"color: #06B6D4; margin: 0 10px;\">Call</a> |\n        <a href=\"mailto:partnerships@zehratech.in\" style=\"color: #06B6D4; margin: 0 10px;\">Email</a>\n      </p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-welcome-email-1",
      "name": "Send Welcome Email to TPO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [450, 350]
    },
    {
      "parameters": {
        "channel": "C12345678",
        "text": "🎓 *New College Partnership!*\n\n*College:* {{ $json.collegeName }}\n*Location:* {{ $json.city }}, {{ $json.state }}\n*TPO Name:* {{ $json.tpoName }}\n*Email:* {{ $json.tpoEmail }}\n*Phone:* {{ $json.tpoPhone }}\n*Student Strength:* {{ $json.studentStrength }}\n*Departments:* {{ $json.departments }}\n\n_Action: Schedule kickoff meeting_",
        "otherOptions": {}
      },
      "id": "notify-team-1",
      "name": "Notify Team on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 250],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": "primary",
        "start": "={{ $now.plus({days: 3}).toISO() }}",
        "end": "={{ $now.plus({days: 3, hours: 1}).toISO() }}",
        "summary": "Kickoff Meeting - {{ $json.collegeName }}",
        "description": "Partnership kickoff meeting with {{ $json.tpoName }} from {{ $json.collegeName }}\n\nAgenda:\n- Partnership program overview\n- Workshop planning\n- Placement drive schedule\n- Student database sharing\n- Portal access setup\n\nContact: {{ $json.tpoEmail }} / {{ $json.tpoPhone }}",
        "attendees": "={{ $json.tpoEmail }},partnerships@zehratech.in",
        "options": {}
      },
      "id": "create-meeting-1",
      "name": "Schedule Kickoff Meeting",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [650, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Partnership created successfully\", \"collegeId\": $json.id } }}"
      },
      "id": "respond-partnership-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - New College Partnership": {
      "main": [
        [
          {
            "node": "Save Partnership to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email to TPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Partnership to Google Sheets": {
      "main": [
        [
          {
            "node": "Notify Team on Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email to TPO": {
      "main": [
        [
          {
            "node": "Schedule Kickoff Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team on Slack": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Kickoff Meeting": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["partnerships", "tpo", "colleges"],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "1"
}
