workflows/placement-drive.json
{
  "name": "Placement Drive Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "placement-drive-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-placement-1",
      "name": "Webhook - Schedule Placement Drive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_PLACEMENT_SHEET_ID",
        "range": "Placement Drives!A:M",
        "options": {}
      },
      "id": "save-drive-1",
      "name": "Save Drive Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://zehratech.in/api/admin/students",
        "method": "GET",
        "qs": {
          "parameters": [
            {
              "name": "college",
              "value": "={{ $json.collegeName }}"
            },
            {
              "name": "eligible",
              "value": "true"
            }
          ]
        }
      },
      "id": "get-eligible-students-1",
      "name": "Get Eligible Students",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "split-students-1",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "placements@zehratech.in",
        "toEmail": "={{ $json.email }}",
        "subject": "🎯 Placement Drive Invitation - {{ $json.companyName }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 650px; margin: 0 auto; background: white; }\n    .header { background: linear-gradient(135deg, #10B981 0%, #059669 100%); color: white; padding: 40px 30px; text-align: center; }\n    .content { padding: 35px 30px; }\n    .company-logo { width: 120px; height: 120px; background: white; border-radius: 50%; margin: 0 auto 20px; display: flex; align-items: center; justify-content: center; font-size: 48px; }\n    .badge { background: #10B981; color: white; padding: 12px 25px; border-radius: 25px; display: inline-block; margin: 20px 0; font-weight: bold; }\n    .details-box { background: #f0fdf4; border-left: 4px solid #10B981; padding: 25px; margin: 25px 0; border-radius: 6px; }\n    .detail-row { margin: 12px 0; display: flex; }\n    .detail-label { font-weight: bold; color: #10B981; min-width: 140px; }\n    .cta-button { display: inline-block; background: #10B981; color: white; padding: 15px 40px; text-decoration: none; border-radius: 8px; margin: 20px 0; font-weight: bold; font-size: 16px; }\n    .requirements { background: #fef3c7; padding: 20px; border-radius: 6px; margin: 20px 0; }\n    .footer { background: #1f2937; color: white; padding: 30px; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"company-logo\">🏢</div>\n      <h1>Placement Drive Invitation</h1>\n      <div class=\"badge\">{{ $json.companyName }}</div>\n    </div>\n    \n    <div class=\"content\">\n      <h2>Dear {{ $json.name }},</h2>\n      \n      <p>Congratulations! You have been shortlisted for the upcoming placement drive organized by <strong>{{ $json.collegeName }}</strong> in collaboration with <strong>ZehraTech</strong>.</p>\n      \n      <div class=\"details-box\">\n        <h3 style=\"margin-top: 0; color: #10B981;\">📋 Drive Details</h3>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Company:</span>\n          <span>{{ $json.companyName }}</span>\n        </div>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Position:</span>\n          <span>{{ $json.position }}</span>\n        </div>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Package:</span>\n          <span>{{ $json.package }}</span>\n        </div>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Date:</span>\n          <span>{{ $json.driveDate }}</span>\n        </div>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Time:</span>\n          <span>{{ $json.driveTime }}</span>\n        </div>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Venue:</span>\n          <span>{{ $json.venue }}</span>\n        </div>\n        \n        <div class=\"detail-row\">\n          <span class=\"detail-label\">Mode:</span>\n          <span>{{ $json.mode }}</span>\n        </div>\n      </div>\n      \n      <div class=\"requirements\">\n        <h3 style=\"margin-top: 0; color: #f59e0b;\">📌 Eligibility & Requirements</h3>\n        <ul style=\"line-height: 1.8;\">\n          <li><strong>Educational Qualification:</strong> {{ $json.qualification }}</li>\n          <li><strong>Minimum Percentage:</strong> {{ $json.minPercentage }}%</li>\n          <li><strong>Skills Required:</strong> {{ $json.skills }}</li>\n          <li><strong>Experience:</strong> {{ $json.experience }}</li>\n          <li><strong>Active Backlogs:</strong> {{ $json.backlogsAllowed }}</li>\n        </ul>\n      </div>\n      \n      <h3>📝 Selection Process:</h3>\n      <ol style=\"line-height: 2;\">\n        <li><strong>Aptitude Test:</strong> {{ $json.aptitudeDuration }} minutes</li>\n        <li><strong>Technical Round:</strong> {{ $json.technicalRound }}</li>\n        <li><strong>HR Interview:</strong> {{ $json.hrRound }}</li>\n        <li><strong>Final Results:</strong> Announced on {{ $json.resultDate }}</li>\n      </ol>\n      \n      <div style=\"background: #e0f2fe; border-left: 4px solid #0EA5E9; padding: 20px; margin: 20px 0; border-radius: 6px;\">\n        <h3 style=\"margin-top: 0; color: #0EA5E9;\">✅ What to Bring:</h3>\n        <ul style=\"line-height: 1.8;\">\n          <li>Updated Resume ({{ $json.resumeCopies }} copies)</li>\n          <li>Academic documents (Originals + Photocopies)</li>\n          <li>Government-issued Photo ID</li>\n          <li>Passport size photographs ({{ $json.photosRequired }} copies)</li>\n          <li>Laptop/Device (if mentioned in requirements)</li>\n          <li>{{ $json.additionalDocs }}</li>\n        </ul>\n      </div>\n      \n      <div style=\"text-align: center; margin: 30px 0;\">\n        <a href=\"https://zehratech.in/placement/confirm?id={{ $json.driveId }}&student={{ $json.studentId }}\" class=\"cta-button\">Confirm Your Participation</a>\n      </div>\n      \n      <div style=\"background: #fef3c7; padding: 20px; border-radius: 6px; margin: 20px 0;\">\n        <h3 style=\"margin-top: 0; color: #f59e0b;\">💡 Preparation Tips:</h3>\n        <ul style=\"line-height: 1.8;\">\n          <li>Research about the company and role</li>\n          <li>Practice aptitude and technical questions</li>\n          <li>Prepare your introduction and common HR questions</li>\n          <li>Review your resume thoroughly</li>\n          <li>Dress formally and arrive 15 minutes early</li>\n          <li>Stay calm and confident during the process</li>\n        </ul>\n      </div>\n      \n      <p><strong>📞 Need Help?</strong></p>\n      <p>\n        Contact TPO: {{ $json.tpoName }}<br>\n        Phone: {{ $json.tpoPhone }}<br>\n        Email: {{ $json.tpoEmail }}\n      </p>\n      \n      <p style=\"margin-top: 40px;\">All the best for your placement drive! 🎯</p>\n      \n      <p>Best regards,<br>\n      <strong>ZehraTech Placement Team</strong><br>\n      In collaboration with {{ $json.collegeName }}</p>\n    </div>\n    \n    <div class=\"footer\">\n      <h3>⚡ ZehraTech</h3>\n      <p>Empowering Careers Through Technology</p>\n      <p style=\"margin-top: 15px; font-size: 12px;\">\n        This is a system-generated email. Please do not reply to this email.<br>\n        For queries, contact your TPO or placements@zehratech.in\n      </p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-invitation-1",
      "name": "Send Placement Invitation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "phoneNumber": "={{ $json.phone }}",
        "message": "🎯 *Placement Drive Alert!*\n\nHi {{ $json.name }}! 👋\n\nYou're invited to placement drive:\n\n🏢 *Company:* {{ $json.companyName }}\n💼 *Position:* {{ $json.position }}\n💰 *Package:* {{ $json.package }}\n📅 *Date:* {{ $json.driveDate }}\n⏰ *Time:* {{ $json.driveTime }}\n📍 *Venue:* {{ $json.venue }}\n\n✅ *Confirm your participation:*\n{{ $json.confirmLink }}\n\n📧 *Check email for details*\n\nGood luck! 🎓\n\n*ZehraTech Placements*\n☎️ {{ $json.tpoPhone }}",
        "options": {}
      },
      "id": "send-sms-1",
      "name": "Send WhatsApp Notification",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "fromEmail": "placements@zehratech.in",
        "toEmail": "={{ $json.tpoEmail }}",
        "subject": "Placement Drive Scheduled - {{ $json.companyName }}",
        "text": "Dear {{ $json.tpoName }},\n\nThe placement drive for {{ $json.companyName }} has been scheduled successfully.\n\nDrive Details:\n- Company: {{ $json.companyName }}\n- Date: {{ $json.driveDate }}\n- Venue: {{ $json.venue }}\n- Eligible Students: {{ $json.eligibleCount }}\n\nInvitations have been sent to all eligible students via email and WhatsApp.\n\nDashboard: https://zehratech.in/placement-dashboard\n\nBest regards,\nZehraTech Placement Team"
      },
      "id": "notify-tpo-1",
      "name": "Notify TPO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"invitationsSent\": $json.count } }}"
      },
      "id": "respond-placement-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - Schedule Placement Drive": {
      "main": [
        [
          {
            "node": "Save Drive Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Drive Details": {
      "main": [
        [
          {
            "node": "Get Eligible Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Eligible Students": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Send Placement Invitation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Placement Invitation": {
      "main": [
        [
          {
            "node": "Notify TPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify TPO": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["placements", "tpo", "recruitment"],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "1"
}
